@font-face {
  font-family: Comfortaa;
  src: url(Comfortaa-Regular.ttf);
  font-weight: bold;
}
html,body {
  margin: 0%;
  scroll-behavior: smooth;
  height:85%;

 }


*{font-family: Comfortaa;


  margin: 0
}

.entredeux{
  color: #FFFAFA;
  padding: 3%;
 background-color: black  ;

  text-align:center;

}
header{
  display: block;
  height:8%;
  text-align: center;
  padding-top: 3%;
  box-shadow: 5% 10% 18% #888888;

}

form
a { color: inherit;
  text-decoration: none; }
.questionat{

  background-color:#00d607;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  padding-left: 20%;
  margin-top: 3.5%;
  width:40%;
  height:100%:; 
  transition: box-shadow .3s;
  border: 50%;
  border-radius: 8.420%;
 color: #FFFAFA;
 box-shadow: 0 0 15px rgba(33,33,33,.2);

 border: 1px solid #ccc;
 padding: 15px;


}


.questionat:hover {
  box-shadow: 0 0 45px rgba(33,33,33,.2);
}

.page{background-color:#d600cf ;
  color:  #FFFAFA;
  padding: 20px;
  height: 100%;
  transition: box-shadow .5s;
  border: 1px;
  box-shadow: 10px 10px 10px rgba(33,33,33,.2) inset;

}
.page:hover{
  transition: box-shadow .5s;
  box-shadow: 20px 20px 20px   rgba(33,33,33,.2) inset;



}

.lesite:hover{
  width: 53%;
  box-shadow: 50px 50px 50px rgba(33,33,33,.2);



}



select,option, .lqst ,textarea {
  color: black;
}



h1{
  text-align: center;
  vertical-align: middle;
  font-family: 'Alfa Slab One', cursive;

  color: #00D672
}

h2{
  text-align: center;
}

footer{
  background-color: #DCDCDC	;
  padding: 30px
}


.lesite {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2px;
    transition: width 0.8s, height 0.8s;

}



.coms{ text-align: center;
  padding: 10px;

}
.btn{
  background-color: #00D672;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
