



.signature:{
  text-color: white;
}
@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
body{
  background-color: beige;
}
*{
  margin: 0.1%;
  font-family: Yellowtail;
}



.checkoutbtn{
  position: fixed;
    bottom: 0;
    margin: 2%;
    right: 0;
    width: 20%
}




footer{




}


.checkoutbtn{
  position: fixed;
    margin: 1%;
    margin-bottom: 3%;
    right: 0;
    border-radius: 50px ;
 height: 75px  ;
 width: 75px ;
 font-size: 2em ;


}



@font-face {
  font-family: StrawberryCupcakes;
  src: url(StrawberryCupcakes.ttf);
}
@font-face {
  font-family: SignikaNegative;
  src: url(SignikaNegative-Regular.ttf);
}
@font-face {
  font-family:Yellowtail;
  src: url(Yellowtail-Regular.ttf);
}

.cartimg{
  overflow: hidden;

  width: 50px;
  height: 50px;

}

.headpanier{
  margin: 0;
  border: double;
  background-color: black;
  color:beige;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;

}
#products{
  border-radius: 9px;
  margin-top: 1%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content:space-evenly	;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 70%;
  height: 50%;
  scroll-behavior: smooth;
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.produit{
  padding: 1%;
  color:whitesmoke;
  background-color:black;
  font-family: Yellowtail;

  border: 8px double beige;
border-radius: 15px;
  border-radius: 10px;
  width: 25%;
  margin:1%;
  opacity: 0.8;
  transition: width 2s, height 4s;

  height: 50%;
  transform: scale(1.08, 1.08);
  scroll-behavior: smooth;
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.produit:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.produit p,i{
  font-family: Yellowtail;
  font-size: 150%;
}


.cartitem {

}


  .prixcart button{
    float: right;
  }




#inpanier{
  max-height: 82%;
  overflow: scroll;
  overflow-x: hidden;
}

#cartprice{
  border-top: solid;

  position: fixed;
  bottom: 8%;
  width: 20%;

  overflow:hidden;
}



#cart{



  animation-duration: 4s;
  border: solid;
  opacity: 100%;
  background-color: beige;
  flex-direction:column;
  border-radius: 15px;
  height: 65%;
  width:20%;
  display: none;
  position: fixed;
  bottom: 6%;
  right: 6%;
  animation-name: grow;
    animation-duration: 0.2s;
}
.cartzone{
  background-color: beige;
}



input{
  margin: 0.4%
}


.titre{
  background-color: beige;
  width: 100%;
}


#products{

  border: 4px solid black;
}

#divpages{
  margin-top: 2%;
  text-align: center;

}
#divpages a{  color: black;
    text-decoration: none;

}
.nom{
  text-align: center;

}

.prix{
  text-align: center;
}

#addbtn{float: right;}

.menuscriteres{
  margin: 0;
  border: 9px double black;
  padding-bottom: 1%;
  scroll-behavior: smooth;
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;


}

.menuscriteres:hover{
  transform: scale(1.001, 1.001);
  scroll-behavior: smooth;
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

h2{


  margin: 0.728675%

}

h1{
  border: 13px double beige;
  outline: 13px double beige;
  scroll-behavior: smooth;
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
outline-offset: 0px;

  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: bold;
  size:30px;
  overflow: hidden;
  font-family: StrawberryCupcakes;
  height: auto;
  font-size: 50px;
  background-color: black;
  color: beige;
  padding: 1.7%;
}
h1:hover{
  transform: scale(1.01, 1.01);

}
